@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layer {
    -webkit-mask-image: url("./assets/test-mask.svg");
    mask-image: url("./assets/test-mask.svg");
    background-color: "#FF6600";
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-origin: content-box;
    -webkit-mask-size: var(--size), contain;
    -webkit-mask-position: calc(var(--x) - var(--size) / 2)
        calc(var(--y) - var(--size) / 2),
      center;
  }

  .clip-path-trapezoid {
    clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
  }
}
